.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 420px;
    margin-bottom: 3rem;
    background: transparent;
    padding: 2rem 0;
    border-radius: 10px;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.SearchBar h1 {
    padding: .77rem 0;
    text-align: center;
    font-family: 'Climate Crisis', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    
}

.SearchBar input {
    width: 287px;
    padding: .88rem 0;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    background: transparent;
}

.SearchBar input:focus {
    outline: none;
}

.SearchButton {
    cursor: pointer;
    width: 287px;
    padding: .77rem 0;
    border-radius: 40px;
    background-color: #010c3f;
    text-align: center;
    font-size: .9rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    font-family: 'DM Sans', sans-serif;
}

.SearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
}